span.validationError {
	color: #ff0000
}

body{
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.grid {
	font-size: 20px;
	text-align: center;
	width: 500px;
	margin: auto;
	border: 2px solid black;
	border-radius: 15px;
	padding: 10px;
	margin-top: 10px;
}

.ingredient-group{
	margin: auto;
}

.banner{
	background-color: #050c3f;
	height: 100px;
	width : 100%;
	font-size: 50px;
}

.bannerHeader{
	margin: -10px;
	height: 10px;
	text-align: center;
	padding-top: 10px;
	color: white;
}

.mainBody{
	width: 500px;
	height: 450px;
	border: 2px solid black;
	border-radius: 15px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	overflow-y: auto;
	padding: 20px;
}

.outerBody{
	width: 100%;
	text-align: center;
}

.formButton{
	margin-left: 60%;
}

.submit{
	height: 50px;
	width: 95%;
	font-size: 18px;
	font-weight: bold;
	border: 2px solid #4CAF50;
	margin: auto;
	margin-top: 10px;
	border-radius: 25px;
}

.textField{
	font-size: 40px;
	border-radius: 5px;
	margin: auto;
	text-align: centre;
}

.labels{
	width: 200px;
	margin: auto;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

.message{
	text-align: center;
	font-size: 25px;
	margin-top: 50px;
}

.registerForm{
	width: 750px;
	height: 665px;
	border: 2px solid black;
	margin: auto;
	margin-top:10px;
	border-radius: 10px;
	font-size: 23px;
	padding: 10px;
}

input{
	font-size: 30px;
}

.registerForm label{
	font-weight: bold;
}

.addIngredientForm .submit{
	margin-top: 0px;
	font-size: 30px;
}

.addIngredientForm{
	width: 750px;
	height: 325px;
	border: 2px solid black;
	margin: auto;
	margin-top:10px;
	border-radius: 10px;
	font-size: 23px;
	padding: 10px;
}

.ingredientType{
	width: 200px;
	font-size: 30px;
	color: white;
	background-color: #050c3f;
	border-radius: 20px;
	text-align: center;
	padding-left: 20px;
}

.checkbox input{
	margin-top: 15px;
}

.grid h3{
	margin-bottom: 0px;
}

::-webkit-scrollbar {
  width: 3px;
}