<!DOCTYPE html>
<html xmlns="http://www.w3.org.1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Taco Cloud</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
	<form method="POST" th:action="@{/ingredients}" th:object="${ingredient}">
		<div class="banner">
			<h1 class="bannerHeader">Add Ingredient</h1>
		</div>
		<br />
		<div class="addIngredientForm">
			<label for="identifier">Ingredient Identifier: </label>
			<input name="identifier" type="text" th:field="*{id}" />
			<br>
			<br>
			<label for="name">Ingredient Name: </label>
			<input name="name" type="text" th:field="*{name}" />
			<br>
			<br>
			<label for="types">Ingredient Type: </label> 
			<select class = "ingredientType" th:field="*{type}" name="types">
				<option th:each="ingredientType : ${IngredientTypes}" th:text="${ingredientType}" th:value="${ingredientType}" />
			</select>
			<br>
			<br>
			<button class="submit" type= "submit">Add new Ingredient</button>
			<br>
			<br>
			<a href="/design">
				<button class="submit">Go To Design Page</button>
			</a>
		</div>
	</form>
</body>
</html>