<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  
  <body>
  
  	<div class = "banner">
	    <h1 class="bannerHeader">Login</h1>
  	</div><br/>
    
    <div th:if="${error}"> 
      Unable to login. Check your username and password.
    </div>
    
    <div class = "outerBody">
    <!-- tag::thAction[] -->
    <form class = "mainBody" method="POST" th:action="@{/login}" id="loginForm">
    <!-- end::thAction[] -->
    	<br/><br/><br>

      <label class = "labels" for="username">Username: </label>
      <input style="text-align:center" class = "textField" type="text" name="username" id="username" /><br/><br>
      
      <label class = "labels" for="password">Password: </label>
      <input style="text-align:center" class = "textField" type="password" name="password" id="password" /><br/><br>
      
      <input class = "submit" type="submit" value="Login"/>
      
      <br/><br/>
      <p class = "message">New here? Click 
       		<a th:href="@{/register}">here</a> to register.</p>
    </form>
    </div>
  </body>
</html>